:root{
    --sea-green:#A2D5C6;
    --black:#000000;
    --off-white:#F6F6F6;
    --sea-green-active:#CFFFE2;

}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    justify-content:center;
    background-color: var(--black);
    color: var(--off-white);
    padding: 1rem;
    font-family: "Roboto",'Times New Roman', Times, serif;
}

table{
    width: 60vw;
    text-align: center;
}

thead{
    background-color: var(--sea-green);
    color: var(--black);
}
table,tr,td,th{
    border: solid 2px var(--off-white);
    border-collapse: collapse;
    padding:0.5rem;
}


tbody tr:hover{
    background-color:var(--sea-green-active);
    color:var(--black)

}

img{
    height: 50px;
    width: auto;
}

.controls{
    display: flex;
     width: 60vw;
    justify-content: space-between;
}

.controls button{
    background-color: black;
    display:block;
    border: 2px solid var(--off-white);
    color: var(--off-white);
    padding:1rem;
}

.controls button:hover{
    background-color: var(--sea-green-active);
    color: var(--black);
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--off-white);
  border-radius: 50%;
  display: none;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
} 
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: var(--sea-green);}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 