.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; /* Add space between cards */
  padding: 1rem;
}

.desserts {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
