:root {
  --primary-green: hsl(158, 36%, 37%);
  --bold-green: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-size: 14px;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  border-radius: 1em;
  background-color: var(--white);
  overflow: hidden;
  width: 35%;
  height: 45%;
}
.image-container {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  height: fit-content;
}
.image-container img {
    display: block;
    content: url("./images/image-product-desktop.jpg");
    object-fit: cover;
     height: 100%;
    max-width: 100%;
    /* max-height: 100%;  */
}
.card-content {
    padding: 2em; /* Add some padding */
    font-family: 'Montserrat';
}

.card-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap:0.5em;  
}

.card-content .product-type{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8em;
    color: var(--grey);
}
.card-content h1{
    font-size: 2.5em;
    line-height: 1em;
    font-family: 'Fraunces';
    color: var(--black);
}

.card-content .product-description{
    line-height: 1.5em;
    color: var(--grey);
}

.card-content .prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prices .price-no-discount{
    justify-self: flex-start;
    color: var(--grey);
    text-decoration-line: line-through;
}

.prices .price-main{
    justify-self: flex-start;
    font-family: 'Fraunces';
    font-size: 2.5em;
    font-weight: 700;
    color: var(--primary-green);
}


