:root{
    --yellow:hsl(47, 88%, 63%);
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

body{
    background-color:  var(--yellow);
    font-size: 1em;
    font-family: 'Figtree','Times New Roman', Times, serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Add this to give full viewport height */
}

section{
    background-color:  white;
    width:450px;
    display: flex;
    justify-content: center;
    border: 0.15em solid black;
    border-radius: 0.5em;
    box-shadow: 1em 1em black;
    align-items: left;
    flex-direction: column;
}

section .content{
    padding: 1.5em;
}

section .banner-image{
    border:2px solid black;
    border-radius: 0.7em;
    overflow: hidden;
    margin: 1.5em;
    
}

section .banner-image img{
    width:100%; 
    height: auto;
    object-fit: cover;
    display: block;
}

/* section .instructor{
    display: block;
} */

h1:hover{
    color: var(--yellow);
}

select .instructor img{
    display: inline-flex;
    align-items:end;
}

section .instructor{
    font-weight: 700;
}

section .course-description{
    font-weight: 200;
}



button{
    background-color: var(--yellow);
    width: fit-content;
    padding: 0.7em;
    display: block;
    font-weight: 800;
    border: none;
    border-radius: 0.2em;
}