.order-confirmed-overlay {
  z-index: 10;
  position: fixed;
  inset: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.order-confirmed-panel {
  max-width: 32rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  border: 1px solid var(--color-border);
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.order-confirmed-title {
  font-size: 2rem;
  font-weight: 700;
}

.order-confirmed-subtitle {
  font-size: 0.9rem;
  color: var(--rose-500);
}

.order-items-container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 16rem;
  overflow-y: auto;
  background-color: var(--rose-100);
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--color-border);
}

.item-name {
  font-weight: 500;
}

.item-details {
  font-size: 0.875rem;
  color: var(--color-gray);
}

.item-amount {
  text-align: right;
  font-weight: 600;
}

.total-amount {
  display: flex;
  justify-content: space-between;

  padding-top: 0.5rem;
  border-top: 1px solid var(--color-border);
}

.total-amount .value {
  font-size: 1.5rem;
  font-weight: 800;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}
.confirm-button {
  padding: 0.5rem 1rem;
  color: var(--white);
  background-color: var(--color-red);
  border-radius: 0.25rem;
  transition: background-color 0.2s;
  width: 70%;
  height: 50px;
  border-radius: 20px;
}

.confirm-button:hover {
  transform: translateY(-5px);
}
