body{
    font-size:15px;
    background-color:hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
    background-color:white;
    font-family: 'Outfit';
    align-self: center;
    display: inline-block;
    text-align: center;
    margin:25%;
    padding:20px;
    width: 250px;
    border-radius: 10px;
}

.image-qr-code{
    /* height:250px; */
    /* border: 2px solid blue; */

    border-radius: 10px;
    overflow: hidden;
}


.image-qr-code img {
  height: 100%;
  width: 100%;

  object-fit: contain; /* or "contain" if you want the full image visible */
  display: block;
}
h1{
    font-weight: 700;
}

p{
    font-weight:400;
}

.attribution{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px;
}