.main-card {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--white);
  border-radius: 10%;
  /* padding: 3rem; */
  width: 45vw;
}

.second-card,
.first-card {
  flex: 1;
  padding: 3rem;
}

.first-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  border: solid 1px blue;
  background-image: linear-gradient(
    var(--light-slate-blue-bg),
    var(--light-royal-blue-bg)
  );
  border-radius: 10%;
  color: var(--white);
}
