#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app {
  display: flex;
}

Desserts {
  /* flex: 2; */
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template:1fr 1fr 1fr */
}
